.location {
  padding-top: 8px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.location-text-field {
  padding: 8px;
}

.location-button {
  height: 36px;
}

.map-canvas {
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
}